nav {
  @apply bg-background dark:bg-white fixed top-0 left-0 z-50 w-full h-16 flex justify-between items-center px-12 md:px-8 sm:px-4;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  nav ul {
    @apply z-50 absolute right-4 top-[70px] flex-col-reverse bg-darkGreen dark:bg-[#f2f2f2] p-4 rounded-lg;
    animation: navLinksIntro 0.5s;
  }

  @keyframes navLinksIntro {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  nav ul li {
    @apply w-full text-center p-2 rounded-md;
  }

  nav ul[data-navLinks="true"] {
    @apply flex;
  }
}
