@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-darkGreen;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-white dark:bg-white dark:text-black;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "raleway", sans-serif;
  font-weight: 900;
}
