@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-darkGreen;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-white dark:bg-white dark:text-black duration-150;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "raleway", sans-serif;
  font-weight: 900;
}

#background__gradient::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    #165b33,
    #146b3a,
    #f8b229,
    #ea4630,
    #bb2528
  );
  transform: scale(2);
  position: absolute;
  top: 0;
  left: 0;
  animation: rotateAnimation 5s infinite linear;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg) scale(10);
  }
  to {
    transform: rotate(360deg) scale(4.5);
  }
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
label::before {
  @apply border-2 border-white dark:border-darkGreen;
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.25em;
  z-index: -1;
}

input[type="radio"] + label::before {
  border-radius: 1em;
}
/* Checked */
input[type="radio"]:checked + label {
  @apply text-[#146b3a] dark:text-white;
  padding-left: 1em;
}
input[type="radio"]:checked + label::before {
  @apply bg-white dark:bg-darkGreen;
  top: 0;
  width: 100%;
  height: 2em;
}
/* Transition */
label,
label::before {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

#bg {
  fill: #232524;
}

.dark #bg {
  fill: transparent;
}
